body {
  margin: 50px 21%;
  position: relative;
  text-align: center;
}

h1 {
  color: #36363b;
  font-family: 'Cardo', serif;
  font-size: 63px;
  font-weight: normal;
  line-height: 0.8;
  margin: 0;
}

h4 {
  color: #5199a8;
  font-family: 'Lora', serif;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  margin: 10px 10px 0 10px;
  text-align: center;
}

h4:hover {
  color: #97c2cb;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  margin: 0;
  position: relative;
}

.navigation {
  margin: 10px auto 15px auto;
}

.footer {
  margin: 40px auto 45px auto;
}

.a-navigation {
  color: #A9A9A9;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  margin: 13px 3px;
  padding: 10px 14px;
  text-decoration: none;
}

.a-navigation-current {
  background-color: #F5F5F5;
  color: #000000;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  margin: 13px 3px;
  padding: 10px 14px;
  text-decoration: none;
}

.a-navigation:hover {
  background-color: #F5F5F5;
  color: #36363b;
}

.content {
  margin: auto;
  position: relative;
}

.table {
  display: table;
  height: 100%;
  position: relative;
  width: auto;
}

.table-cell-text {
  display: table-cell;
  height: auto;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 80px;
  z-index: 100;
}

.table-cell-hr {
  display: table-cell;
  height: auto;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  z-index: 100;
}

.hr-left {
  border-bottom: none;
  border-style: solid;
  border-width: thin;
  color: #BEBEBE;
  margin-left: 0;
  width: 90%;
}

.hr-right {
  border-bottom: none;
  border-style: solid;
  border-width: thin;
  color: #BEBEBE;
  margin-right: 0;
  width: 90%;
}

.img-social {
  height: 15px;
  opacity: 0.2;
}

.img-social:hover {
  opacity: 0.4;
}

.social-link {
  margin: 10px;
}

.image-container {
  line-height: 0;
  text-align: justify;
  width: auto;
}

.movie-div {
  display: inline-block;
  vertical-align: top;
  width: 32%;
}

.img-movie {
  height: 100%;
  width: 100%;
}

.stretch {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  width: 100%;
}

.italics {
  font-style: italic;
}
